.github-badge {
    text-align: center;

    a {
        color: #181717;
    }

    .github-icon {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        margin: 0 7px;
        background: url("./images/github.svg") no-repeat;
        background-size: contain;
    }

    .material-icons {
        vertical-align: middle;
    }
}
