.header {
    &--top {
        border-bottom: 1px solid rgba(0, 0, 0, 0.14);

        @media #{$medium-and-down} {
            margin-top: 20px;
        }

        h2 {
            font-size: 2.28rem;
            line-height: 110%;
            margin: 1.52rem 0 0.912rem 0;
        }

        .top-nav.sidenav-trigger {
            position: absolute;
            text-align: center;
            height: 48px;
            width: 48px;
            top: 0.2rem;
            left: 0.2rem;
            float: none;
            color: #f3989b;
            font-size: 36px;
            z-index: 2;
        }
    }

    .sidenav {
        .logo {
            margin: 32px 0;

            a {
                height: auto;
                text-align: center;

                &:hover {
                    background: none;
                }

                img {
                    display: inline-block;
                    vertical-align: top;
                    max-height: 100px;
                }
            }
        }

        &.sidenav-fixed {
            li {
                a {
                    padding: 0 30px;
                }
            }

            ul {
                &.collapsible-accordion {
                    .collapsible-body {
                        li {
                            a {
                                padding: 0 37.5px 0 45px;
                            }
                        }
                    }
                }
            }
        }
    }
}
