.converter label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.converter input {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    max-width: 100%;
    margin-right: 10px;
}

.converter .button {
    margin-right: 10px;
}

.converter--color {}

.converter--color-item {
    display: block;
    margin-bottom: 10px;
}

.converter--color-typed-output {
    display: block;
    width: 50px;
    height: 50px;
    margin: 20px 0;
    background: transparent;
}

.converter--sizes {}
